/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    font-size: 62.5%;
    --primaryFont : 'DM Sans', sans-serif;
    --charSpace : 6px; 
    --primaryColor : #3e4152;
    --secondaryColor : #fafbfc;
}
body{
    font-family: var(--primaryFont);
    scroll-behavior: smooth;
}
#navbar{
    background-color: white;
    font-family:Whitney;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-sizing: border-box;
    padding: 35px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;;
    font-size: 14px;
    line-height: 20px;
    color:#545766;
    font-weight: bolder;
}

#myntraIcon{
    height: 60px;
    width:  60px;
    
}
#searchbar{
    display: flex;
    width: 30%;
    background-color: #f5f5f6;
    color: gray;
    text-align: center;
    box-sizing: border-box;
    border-radius:5px;
    justify-content: space-evenly;
}
#searchbar:hover{
   background: white;
}
#magGlass{
    padding: 10px;
}
#profile,#wishlist,#bag{
text-align: center;
color: #6c2632;

}
#profile>p,#wishlist>p,#bag>p{
    margin-top: -0px;
    font-size: 12px;
    color: black;
}
#profile>a>i,#wishlist>a>i,#bag>a>i{
    color:gray;
}
img~a>div{
    color:black;
}
a:link{
    text-decoration: none;
}
a>div{
    color: black;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 40px;
    width: 90%;
    color: #CCC;
}
textarea:focus,input:focus
{
    outline: none;
}
i{
    font-size:20px;  
}
img{
    width: 100%;


/* TOGGLE BAR */
/* .bx{
    font-size: 3.5rem;
*/

   body{
    padding: 0;
    margin: 0;
}

*{
    font-family: WhitneySSm,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
         text-align: center;
}
/* #first{
    padding-top: 2px;
} */

h2 {
    font-size: 260%;
    color: 
    #5b6da8;
    padding: 50px 80px 50px 80px;
}


#second_row{
display: grid;
grid-template-columns: repeat(7,1fr);
cursor: pointer;
text-align: center;
}
#dealoftheday>div>img{
width: 100%;
}
#best-of-myntra{
display: grid;
grid-template-columns: repeat(8,1fr);
grid-gap: 5px;
cursor: pointer;
}
#best-of-myntra>div>img{
width: 100%;
}

#toppicks{
display: grid;
grid-template-columns: repeat(7,1fr);
gap: 10px;
cursor: pointer;
}
#toppicks>div>img{
width: 100%;
}
#categories-to-bag{
display: grid;
grid-template-columns: repeat(8,1fr);
cursor: pointer;

}
#categories-to-bag>div>img{
width: 100%;
}

#deal-on-top-brand{
display: grid;
grid-template-columns: repeat(8,1fr);
cursor: pointer;
}
#deal-on-top-brand>div>img{
width: 100%;
}
#style-hottest-finds{
display: grid;
grid-template-columns: repeat(7,1fr);
cursor: pointer;
}
#style-hottest-finds>div>img{
width: 100%;
}
#footer{
background-color:   rgb(250,251,252);
padding: 50px 60px 40px 60px;
}
#footer-top{
width: 80%;
margin: auto;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 20px;
}
#footer-bottom>p{
font-size: 14px;
color: #94969f;
}
#footer-top>div>p{
color: #94969f;
} 