#container{
    display : flex;
    margin : auto;
    width : 85%;
    gap : 1em;
}

#container>div{
    padding : 0.5em;
}

#manage-item{
    width : 60%;
    border-right: 1px solid rgb(192, 188, 188);
}

#place-order{
    width : 30%;
}

#manage-item > div:first-child{
    display : flex;
    justify-content: space-between;
    padding : 0.5em;
}

#manage-item > div:nth-child(3){
    display : flex;
    justify-content: space-between;
    padding : 0.5em;
}

#manage-item > div:nth-child(3) > div > button{
    border :none;
    color : rgb(83,86,103);
}

#manage-item > div:nth-child(3) > div > button:hover{
    background-color: white;
}

#manage-item > div:nth-child(3) > div > button:first-child{
    border-right : 1px solid rgb(192, 188, 188);
    border-radius: 0;
}

#manage-item > div:first-child, #manage-item > div:nth-child(2){
    border : 1px solid rgb(192, 188, 188);
    border-radius : 0.2em;
    margin-bottom : 0.5em;
    padding : 0.5em;
}

#collapse-button{
    border : none;
}

#collapse-button:hover{
    background-color: white;
}

button{
    color : rgb(255,63,108);
    border : 1px solid rgb(255,63,108);
    background-color: white;
    font-weight: bold;
    border-radius : 0.2em;
}

button:hover{
    background-color :rgb(245, 194, 194);
    cursor : pointer;
}

#applyCoupon{
    display : flex;
    justify-content: space-between;
}

.item-card{
    display : flex;
    border : 1px solid rgb(192, 188, 188);
    margin : 0.5em;
    gap : 1em;
    height : 10em;
    padding : 1em;
}

.item-card > img{
    width : 20%;
}

.sizeAndQuantity{
    display : flex;
    gap : 1em;
}

.dropdown-container{
    background-color:rgba(215, 216, 218, 0.973);
    display : flex;
    padding  : 0.2em;
}

.dropdown-container > *{
    border : none;
    background-color :rgba(215, 216, 218, 0.973)
}

.item-card > div *{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.pricing-details{
    display : flex;
    gap : 0.5em;
}

.strike-off{
    text-decoration: line-through;
}

.discount{
    color : rgb(255,63,108);
}

.collapse{
    display : none;
}

.remove-button{
    margin-left: auto;
    border : none;
    color : rgb(83,86,103);
    height : 1em;
    font-size : larger;
}

.remove-button:hover{
    background-color: white;
}

#place-order > div{
    border-bottom : 1px solid rgb(192, 188, 188);
    padding : 0.5em;
}

#place-button{
    color : white;
    background-color: rgb(255,63,108);
    width : 100%;
    font-size : medium;
    padding : 0.5em;
}

#place-button:hover{
    background-color:rgba(255, 63, 108, 0.774);
}

#total-amount{
    display : flex;
    justify-content: space-between;
}

#price-details{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    gap : 0.5em;
}

.pd-right{
    text-align: right;
}

#totalDiscount{
    color : rgb(2,166,132);
}

#total-amount{
    border-top : 1px solid rgb(192, 188, 188);
    margin-top : 0.5em;
}

#check-delivery{
    display : none;
    flex-direction: column;
    gap : 1em;
    width : 20%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#check-delivery > input{
    border : 1px solid rgb(192, 188, 188);
    padding : 0.5em;
    border-radius : 0.2em;
}

#check-delivery > div{
    display : flex;
    justify-content: space-between;
}

.close-button{
    border : none;
    color :  rgb(83,86,103);
}

.close-button:hover{
    background-color: white;
}

#check-delivery > input[type='submit']{
    color : white;
    background-color: rgb(255,63,108);
    width : 100%;
    font-size : medium;
    padding : 0.5em;
    border : none;
}

#check-delivery > input[type='submit']:hover{
    background-color:rgba(255, 63, 108, 0.774);
}

#support-buttons{
    display : flex;
    gap: 2em;
    margin-top : 1em;
}

#support-buttons > button{
    color :  rgb(83,86,103);
    border : 1px solid rgb(212, 217, 243);
    border-radius: 1em;
    padding : 0.8em;
}

#support-buttons > button:hover{
    background-color: white;
}

.hidden{
    display : none
}