body{
    background-color: #FDEEF1;
}

.container{
    width : 30%;
    margin: 10% auto;
    background-color: #FFFFFF;
    padding: 15px 30px;
    max-width: 400px;
    box-shadow: 0px 1px 19px -4px rgba(0,0,0,0.75);
}

.container > h2{
    text-align: center;
    color: black;
    font-family: 'Genos', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
}

form > input {
    width: 100%;
    padding: 10px 6px;
    margin: 6px 0px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Genos', sans-serif
}

form > button{
    color: white;
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #FF3F6C;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 0px;
    border: none;
}
#signup{
    margin-top: 0px;
}